tgcrypto
asyncio
ffmpeg-python
py-tgcalls==0.8.2
git+https://github.com/pyrogram/pyrogram@master
youtube-search-python

speedtest-cli
git+https://github.com/ytdl-org/youtube-dl@master
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
lyricsgenius
yt-dlp==2021.11.10.1
